<p>anadir-tema works!</p>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form [formGroup]="temaForm" (ngSubmit)="metodoActualizarCrear()" class="mt-4">
        <div class="mb-2">
          <label for="nombre" class="form-label">Nombre del tema</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre"
            placeholder="Introduce el nombre">
          <small class="text-danger" *ngIf="temaForm.get('nombre')?.touched && temaForm.get('nombre')?.errors">
            {{getValidacionNombre()}}
          </small>
        </div>

        <div class="mb-3 mt-2">
          <label for="descripcion" class="form-label">Descripción del tema</label>
          <input type="text" class="form-control" id="descripcion" formControlName="descripcion"
            placeholder="Introduce la descripción">
          <small class="text-danger" *ngIf="temaForm.get('descripcion')?.touched && temaForm.get('descripcion')?.errors">
            {{getValidacionDescripcion()}}
          </small>
        </div>


        <button type="submit" class="btn btn-primary" *ngIf="esProfesor()">
          <span *ngIf="idTema!==0">Actualizar Asignatura</span>
          <span *ngIf="idTema==0">Crear Asignatura</span>
        </button>
        <button type="button" style="margin-left: 20px;" class="btn btn-secondary ml-10"
          [routerLink]="['/asignaturas',idAsignatura,'temas','listado']">Volver</button>
      </form>
    </div>
  </div>
</div>